#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mark-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
}
.mark-form-label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

.mark-list-container {
  margin-top: 2rem;
}

.mark-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mark-list-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.mark-list-item h3 {
  margin-top: 0;
}

.mark-list-item p {
  margin: 0.5rem 0;
}
.card {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 300px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mark-rouge {
  background-color: red;
}

.mark-orange {
  background-color: orange;
}

.mark-jaune {
  background-color: yellow;
}

.mark-vert {
  background-color: green;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
